@media print {
  @page {
    size: 155mm 185mm;
    margin-left: 15mm;
    margin-right: 15mm;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.print-root {
  font-family: "Pyidaungsu", "Noto Sans Myanmar", sans-serif;
  font-size: 10px;
  margin-top: 50mm;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.items {
  margin-top: 10mm;
  width: 100%;
  border-collapse: collapse;
}

.items td {
  padding: 2px;
}

.qty {
  width: 10mm;
  text-align: center;
}

.price {
  width: 20mm;
  text-align: center;
}

.amount {
  width: 25mm;
  text-align: right;
}

.total {
  position: absolute;
  bottom: 5mm;
  right: 5mm;
  font-size: 11px;
}
